@font-face {
  font-family: California;
  src: url(/src/assets/Californian\ FB\ Regular.ttf);
  /* https://fontsgeek.com/fonts/Californian-FB-Regular */
}

:root {
  font-family: 'California', serif;
  --main-bg-black: #0C101D;
  --main-bg-primary: #182139;
  --main-bg-secondary: #163655;
  --main-bg-third: #13456D;
  --main-bg-accent: #D69200;
}

body {
  background-color: var(--main-bg-black);
  color: var(--main-bg-accent);
}

.container {
  /* alignment */
  text-align: center;
  align-content: center;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* CSS Grid Generator: https://cssgrid-generator.netlify.app/ */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0px;
  row-gap: 0px;
  justify-items: center;
  align-items: stretch;
  align-content: center;
}

#countdown {
  margin: 0;
  position: absolute;

  /* color styling */
  /* background-color: var(--main-bg-secondary); */
  padding: 20px;
  border-radius: 3px;
  /* border: 5px solid var(--main-bg-accent); */

  /* background-color: hsl(0, 44%, 54%); */
  /* grid-area: 2 / 2/ 3 / 5; */
  grid-area: 2 / 1 / 3 / 6;
}

.container ul {
  /* content */
  font-size: medium;
  grid-column: 2;
  display: flex;
  /* styling */
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
  /* background-color: hsl(133, 26%, 35%); */
  
}

.container li {
  list-style-type: none;
  flex: 1 1 0;
  width: 115px;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
  /* background-color: var(--main-bg-third); */
  /* border: 1px solid aliceblue; */
}

h1 {
  font-family: California;
  text-transform: none;
  /* font-size: 9vw; */
  white-space: nowrap;
  font-size: 5rem;
  margin: 0px;
}

li span {
  font-size: 40px;
}

.container .emoji {
  display: none;
}