@font-face {
  font-family: California;
  src: url(/src/assets/Californian\ FB\ Regular.ttf);
  /* https://fontsgeek.com/fonts/Californian-FB-Regular */
}

:root {
  font-family: 'California', serif;
}

.container {
  /* width: 50%;
  padding: 10px; */
  text-align: center;
  align-content: center;
  text-transform: capitalize;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* CSS Grid Generator: https://cssgrid-generator.netlify.app/ */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 0px;
  row-gap: 0px;
  justify-items: center;
  align-items: stretch;
  align-content: center;
}

#countdown {
  margin: 0;
  position: absolute;
  /* background-color: hsl(0, 44%, 54%); */
  /* grid-area: 2 / 2/ 3 / 5; */
  grid-area: 2 / 1 / 3 / 6;
}

.container ul {
  font-size: medium;
  margin-bottom: 0;
  padding: 0;
  /* flex-direction: row; */
  grid-column: 2;
  /* background-color: hsl(133, 26%, 35%); */
  display: flex;
  justify-content: center;
}

.container li {
  list-style-type: none;
  flex: 1 1 0;
  width: 115px;
  flex-direction: row;
  padding: 10px;
  margin: 0;
  /* border: 1px solid aliceblue; */
}

h1 {
  font-family: California;
  text-transform: none;
  font-size: 60px;
  margin-bottom: 0px;
}

li span {
  font-size: 40px;
}

.container .emoji {
  display: none;
}